<launch>
  <!-- <arg name="model" default="/"/> -->
  <arg name="move_forward_only" default="False" />
  <arg name="explorer" default="RRT" />

  <!-- SLAM Node -->
  <include file="$(find ros_autonomous_slam)/launch/turtlebot3_slam.launch">
  </include>

  <!-- move_base -->
  <include file="$(find champ_config)/launch/include/move_base.launch">
    <arg name="frame_prefix" value="" />
    <arg name="robot_name" value="/" />
  </include>

  <!-- Autonomous Explorer Node -->
  <include file="$(find ros_autonomous_slam)/launch/$(arg explorer).launch">
  </include>

</launch>